In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.linear_model import LinearRegression

In [3]:
df=pd.read_csv("../project/COVID-19_Outcomes_by_Testing_Cohorts__Cases__Hospitalizations__and_Deaths.csv")
df.head(10)

,extract_date,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/29/2020,04/17/2020,9979,3386,527,96
1,04/29/2020,02/08/2020,1,0,0,0
2,04/29/2020,03/05/2020,63,5,3,1
3,04/29/2020,04/09/2020,9019,4803,1253,386
4,04/29/2020,04/03/2020,9389,5523,1688,582
5,04/29/2020,03/25/2020,7457,4803,1395,429
6,04/29/2020,03/21/2020,4713,2663,757,231
7,04/29/2020,03/20/2020,7756,4121,889,237
8,04/29/2020,03/14/2020,1702,684,217,59
9,04/29/2020,04/24/2020,8683,2092,230,18

In [4]:
df.columns

Index(['extract_date', 'specimen_date', 'Number_tested', 'Number_confirmed',
       'Number_hospitalized', 'Number_deaths'],
      dtype='object')

In [5]:
df.dtypes

extract_date           object
specimen_date          object
Number_tested           int64
Number_confirmed        int64
Number_hospitalized     int64
Number_deaths           int64
dtype: object

In [6]:
for column in df.columns:
    print(f"Column{column}has{df[column].isnull().sum()}null values")

Columnextract_datehas0null values
Columnspecimen_datehas0null values
ColumnNumber_testedhas0null values
ColumnNumber_confirmedhas0null values
ColumnNumber_hospitalizedhas0null values
ColumnNumber_deathshas0null values

In [7]:
df=df.dropna()

In [8]:
print(f"Duplicate entries:{df.duplicated().sum()}")

Duplicate entries:0

In [9]:
df.count()

extract_date           176148
specimen_date          176148
Number_tested          176148
Number_confirmed       176148
Number_hospitalized    176148
Number_deaths          176148
dtype: int64

In [10]:
new_df=df.drop(['extract_date'],axis=1)
new_df.head(10)

,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,04/17/2020,9979,3386,527,96
1,02/08/2020,1,0,0,0
2,03/05/2020,63,5,3,1
3,04/09/2020,9019,4803,1253,386
4,04/03/2020,9389,5523,1688,582
5,03/25/2020,7457,4803,1395,429
6,03/21/2020,4713,2663,757,231
7,03/20/2020,7756,4121,889,237
8,03/14/2020,1702,684,217,59
9,04/24/2020,8683,2092,230,18

In [11]:
new_df['specimen_date']=pd.to_datetime(new_df['specimen_date'],infer_datetime_format=True,errors='coerce')

In [12]:
new_df.dtypes

specimen_date          datetime64[ns]
Number_tested                   int64
Number_confirmed                int64
Number_hospitalized             int64
Number_deaths                   int64
dtype: object

In [13]:
new_df.head(10)

,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,2020-04-17,9979,3386,527,96
1,2020-02-08,1,0,0,0
2,2020-03-05,63,5,3,1
3,2020-04-09,9019,4803,1253,386
4,2020-04-03,9389,5523,1688,582
5,2020-03-25,7457,4803,1395,429
6,2020-03-21,4713,2663,757,231
7,2020-03-20,7756,4121,889,237
8,2020-03-14,1702,684,217,59
9,2020-04-24,8683,2092,230,18

In [14]:
covid_df= new_df.loc[new_df.specimen_date<'2021-01-01']
covid_df

,specimen_date,Number_tested,Number_confirmed,Number_hospitalized,Number_deaths
0,2020-04-17,9979,3386,527,96
1,2020-02-08,1,0,0,0
2,2020-03-05,63,5,3,1
3,2020-04-09,9019,4803,1253,386
4,2020-04-03,9389,5523,1688,582
...,...,...,...,...,...
176140,2020-09-15,18062,1594,135,32
176142,2020-09-21,17624,1696,161,30
176143,2020-11-18,21551,2483,163,41
176145,2020-03-09,401,89,36,19
176147,2020-09-04,18765,1648,147,33

In [15]:
output_file_path = "../project/covid_df.csv"
covid_df.to_csv(output_file_path, index=False)